<canvas #canvas class="canvas"></canvas>
<!--<div class="menu__info">-->
<!--    Режим сейчас: {{ (getCanvasState | async)?.stateValue }} <br>-->
<!--    Id выбранного элемента: {{ (getCanvasState | async)?.selectedPolygonId }} <br>-->
<!--    Id выбранного элемента из эл.: {{ (getCanvasState | async)?.selectedPolygon?.id }} <br>-->
<!--    Получить состояние элемента:   <br>-->
<!--</div>-->

<div #canvasMenu class="menu"></div>

<!--<div style="position: absolute; top: 20px; left: 20px">-->
<!--    <div class="" (click)="setSelectionMode()">-->
<!--        Выделение-->
<!--    </div>-->
<!--    <div class="" (click)="setDrawingMode()">-->
<!--        Рисование-->
<!--    </div>-->
<!--</div>-->
